@import "variables";


/** Global *******************************************/
* {
    all: unset;
    font-family: feather;
    font-family: "MesloLGS NF";
    color: $foreground;
}


/** Boxes ***********************************/
.winbox {
    background-color: $background;
    border: 1px solid $background-alt;
    border-radius: 12px;
}

/** Resources ***********************************/
.res_box {
    background-color: $background;
    border: 1px solid $background-alt;
    border-radius: 12px;
    padding: 14px 18px 14px 18px;
}

.res_circle {
    background-color: $background;
    border: 0px solid $background-alt;
    border-radius: 100%;
    padding: 0px;
}

.res_circle_small {
    background-color: $background;
    border: 0px solid $background-alt;
    border-radius: 100%;
    padding: 40px;
}

.res_text {
    background-color: $background;
    border: 1px solid $background-alt;
    border-radius: 16px;
    font-size: 14px;
    padding: 0px 8px 0px 8px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}

.res_cpu {
    color: $orange;
}

.res_mem {
    color: $green;
}

.res_disk {
    color: $blue;
}

/** Power Buttons ***********************************/
.powericons {
    background-repeat: no-repeat;
    background-size: 42px;
    min-height: 42px;
    min-width: 42px;
    margin: 11px 14px 11px 14px;
}

/** Quotes ***********************************/
.quote_box {
    margin: 20px;
}

.quote_text {
    font-size: 14px;
    font-weight: normal;
}

.quote_author {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

/** EOF *************************************************/