.bar {
    background: transparent;
}

.left-box {
    margin-left: .25rem;
}

.right-box {
    margin-right: .25rem;
}

.notif-toggle,
.date,
.clock,
.weather,
.workspaces,
.tray,
.battery,
.brightness,
.volume,
.network {
    font-size: 1.75rem;
    background: $backgroundAlt;
    border-radius: 1rem;
    padding: 0rem .75rem;
    margin: 0rem .25rem 1rem .25rem;
    //box-shadow: 0 0 .2rem .2rem rgba($black, 0.75);
}

.notif-toggle-icon {
    color: rgba($blue, 0.8);
    padding: 0rem .75rem 0rem .5rem;
}

.date-icon {
    color: rgba($yellow, 0.8);
    padding: 0rem .75rem 0rem .5rem;
}

.clock-icon {
    color: rgba($green, 0.8);
    padding: 0rem .75rem 0rem .5rem;
}

.sun-icon {
    font-size: 2.75rem;
    color: rgba($orange, 0.8);
    padding: 0rem .75rem 0rem .5rem;
}

.moon-icon {
    color: rgba($blue, 0.8);
    padding: 0rem .75rem 0rem .5rem;
}

.weather-text {
    font-size: 1.3rem;
    color: $foreground;
    padding: 0rem 0rem 0rem .75rem;
}

.degree-icon {
    color: rgba($foreground, 0.8);
}

.workspace-text,
.ws-active,
.ws-focus {
    font-size: 2rem;
}

.workspace-text {
    color: rgba($gray, 0.5);
}

.ws-active {
    color: rgba($blue, 0.8);
}

.ws-focus {
    color: rgba($orange, 0.8);
}

.battery-icon {
    color: rgba($green, 0.8);
    padding: 0rem .5rem;
}

.brightness-icon {
    color: rgba($yellow, 0.8);
    padding: 0rem .75rem 0rem .5rem;
}

.volume-icon {
    color: rgba($blue, 0.8);
    padding: 0rem 1.15rem 0rem .5rem;
}


.network-icon {
    color: rgba($magenta, 0.8);
    padding: 0rem .75rem 0rem .5rem;
}

.notif-toggle-text,
.date-text,
.clock-text,
.battery-text,
.brightness-text,
.volume-text,
.network-text {
    font-size: 1.25rem;
    color: $foreground;
    padding: 0rem .5rem 0rem .25rem;
}

.tray {
    background: $backgroundAlt;
}
