$background: #f9f5d7;
$backgroundAlt: #f3eac7;
$foreground: #4f3829;

$white: #7c6f64;
$black: #f3eac7;
$red: #c14a4a;
$magenta: #945e80;
$blue: #45707a;
$cyan: #4c7a5d;
$green: #6c782e;
$yellow: #b47109;
$orange: #c35e0a;
$gray: #7c6f64;