$background: #292828;
$backgroundAlt: #1b1b1b;
$foreground: #ddc7a1;

$white: #d4be98;
$black: #1b1b1b;
$red: #ea6962;
$magenta: #d3869b;
$blue: #7daea3;
$cyan: #89b482;
$green: #a9b665;
$yellow: #d8a657;
$orange: #e78a4e;
$gray: #7c6f64;