$background: #eff1f5;
$backgroundAlt: #e6e9ef;
$foreground: #4c4f69;

$white: #8c8fa1;
$black: #e6e9ef;
$red: #d20f39;
$magenta: #8839ef;
$blue: #1e66f5;
$cyan: #179299;
$green: #40a02b;
$yellow: #df8e1d;
$orange: #fe640b;
$gray: #8c8fa1;