@import 'colors.scss';
@import './modules/session/session.scss';
@import './modules/system/system.scss';
@import './modules/theme-setter/theme-setter.scss';
@import './windows/dashboard/dashboard.scss';
@import './windows/notifications/notifications.scss';
@import './windows/powermenu/powermenu.scss';

* {
    all: unset;
    background: $background;
    color: $foreground;
    font-family: 'Hack Nerd Font Mono';
}
