.progress {
    background: $backgroundAlt;
    border-radius: 1rem;
}

.progress-bar {
    background: rgba($gray, 0.15);
    margin: 15px;
}

.progress-label {
    background: $backgroundAlt;
    font-size: 1.5rem;
    font-weight: bold;
}

.cpu-progress {
    margin: 5px 5px 5px 10px;
}

.cpu-progress-bar,
.cpu-progress-label {
    color: rgba($green, 0.8);
}

.ram-progress {
    margin: 5px 10px 5px 5px;
}

.ram-progress-bar,
.ram-progress-label {
    color: rgba($cyan, 0.8);
}
