@import "variables";

/** Global *******************************************/
* {
    all: unset;
    font-family: "MesloLGS NF";
    color: $foreground;
}

/** Bar ***********************************/
.dockbox {
    background-color: $background;
    border: 1px solid $background-alt;
    border-radius: 12px;
}

/** Icons ***********************************/
.genicon {
    background-repeat: no-repeat;
    background-size: 20px;
    min-height: 20px;
    min-width: 20px;
}

.appicon {
    background-repeat: no-repeat;
    background-size: 40px;
    min-height: 40px;
    min-width: 40px;
}

.workspacebox {
    background-color: $background;
    color: $background;
    border: 2px solid $background;
    border-radius: 16px;
    padding: 4px 6px 0px 6px;
    margin: -2px 0px 0px 0px;
    font-weight: normal;
}

.workspaceicon {
    background-repeat: no-repeat;
    background-size: 20px;
    min-height: 20px;
    min-width: 20px;
}

/** Clock ********************************************/
.fuzzy-time {
    font-size: 15px;
    font-weight: normal;
}

/** Music *************************************************/
.album_art {
    background-repeat: no-repeat;
    background-size: 40px;
    min-height: 40px;
    min-width: 40px;
    margin: 8px;
    border-radius: 8px;
}

.musicbox {
    margin: 0px 0px 0px 5px;
}

.song {
    font-size: 14px;
    font-weight: normal;
}

.artist {
    font-size: 13px;
    font-weight: normal;
}

.musicbuttons {
    margin: 2px 0px 0px -90px;
}

.playbutton {
    background-repeat: no-repeat;
    background-size: 18px;
    min-height: 18px;
    min-width: 18px;
    margin: 0px 0px 0px 0px;
}

.trackbutton {
    background-repeat: no-repeat;
    background-size: 18px;
    min-height: 18px;
    min-width: 18px;
    margin: 0px 0px 0px 0px;
}

/** System *************************************************/
.batteryicon {
    background-repeat: no-repeat;
    background-size: 25px;
    min-height: 25px;
    min-width: 25px;
    margin: 6px 0px 0px 0px;
}

.brightnessicon {
    background-repeat: no-repeat;
    background-size: 21px;
    min-height: 21px;
    min-width: 21px;
    margin: 8px 0px 0px 0px;
}

.volumeicon {
    background-repeat: no-repeat;
    background-size: 22px;
    min-height: 22px;
    min-width: 22px;
    margin: 8px 0px 0px 0px;
}

.trayicon {
    background-repeat: no-repeat;
    background-size: 24px;
    min-height: 24px;
    min-width: 24px;
    margin: 8px 0px 0px 0px;
}

.face {
    background-size: 24px;
    min-height: 24px;
    min-width: 24px;
    margin: 8px 0px 8px 0px;
    border-radius: 100%;
}

.infotext {
    background-color: $background-alt;
    border: 0px solid $background;
    border-radius: 16px;
    font-size: 15px;
    padding: 0px 5px 0px 5px;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}

/** EOF *************************************************/