@import url("colors.css");

* {
    font-family: HackNerdFont;
    font-weight: bold;
    font-size: 16px;
}

window#waybar,
tooltip {
    background: @background;
    color: @foreground;
}

tooltip {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @gray;
}

#window,
#custom-dashboard,
#network,
#workspaces button,
#clock,
#tray,
#battery,
#backlight,
#pulseaudio,
#custom-powermenu {
    padding: 6px 14px;
    margin: 7px 3px;
    border-radius: 7px;
    background: @backgroundAlt;
    opacity: .85;
}

#custom-dashboard {
    color: @magenta;
    padding: 2px 10px;
    margin-left: 10px;
}


#network {
    color: @blue;
    padding: 2px 10px;
}

#workspaces label {
    color: @foreground;
}

/* #workspaces button {
    border: .25rem solid @gray;
} */

#workspaces button.active {
    border: .25rem solid @orange;
}

#workspaces button.focused {
    border: .25rem solid @blue;
}

#workspaces button.urgent {
    color: @red;
}

#clock {
    color: @foreground;
}

#battery {
    color: @green;
}

#backlight {
    color: @yellow;
}

#pulseaudio {
    color: @magenta;
}

#custom-powermenu {
    color: @red;
    padding: 2px 16px;
    margin-right: 10px;
}