@import url("colors.css");

* {
    border: none;
    border-radius: 0;
    font-family: SFMono;
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @foreground;
}

tooltip {
    background: @background;
    color: @foreground;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @gray;
}

#cpu,
#memory,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    padding: 0px 12px;
    margin: 5px 3px;
    border-radius: 8px;
    color: @background;
}

#network {
    padding: 0px 14px;
    background: @blue;
    margin-left: 7px;
}

#workspaces button {
    padding: 0px 10px;
    margin: 0px 14px 0px -10px;
    border-radius: 8px;
    color: @background;
    background: @gray;
}

#workspaces button.active {
    background: @green;
}

#workspaces button.focused {
    background: @blue;
}

#workspaces button.urgent {
    background: @red;
}

#tray {
    background: @background;
    margin-left: -10px;
}

#clock {
    background: @magenta;
}

#cpu {
    background: @blue;
}

#memory {
    background: @cyan;
}

#battery {
    background: @green;
}

#backlight {
    background: @yellow;
}

#pulseaudio {
    background: @orange;
    margin-right: 7px;
}