@define-color accent_bg_color #d3869b;
@define-color accent_fg_color #292828;
@define-color accent_color #d3869b;

@define-color destructive_bg_color #ea6962; 
@define-color destructive_fg_color #292828;
@define-color destructive_color #ea6962;

@define-color success_bg_color #a9b665;
@define-color success_fg_color #ddc7a1;
@define-color success_color #a9b665;

@define-color warning_bg_color #d8a657;
@define-color warning_fg_color #ddc7a1;
@define-color warning_color #d8a657;

@define-color error_bg_color #ea6962;
@define-color error_fg_color #ddc7a1;
@define-color error_color #ea6962;

@define-color window_bg_color #292828;
@define-color window_fg_color #ddc7a1;

@define-color view_bg_color #1b1b1b;
@define-color view_fg_color #ddc7a1;

@define-color headerbar_bg_color #292828;
@define-color headerbar_fg_color #ddc7a1;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color #292828;

@define-color card_bg_color #1b1b1b;
@define-color card_fg_color #ddc7a1;
@define-color card_shade_color #1b1b1b;

@define-color popover_bg_color #1b1b1b;
@define-color popover_fg_color #ddc7a1;

.top-bar {
    color: #ddc7a1;
    background-color: #292828;
} 

placessidebar {
    color: #ddc7a1;
    background-color: #292828;
}

.navigation-sidebar {
    color: #ddc7a1;
    background-color: #292828;
}