.powermenu {
    border-radius: 1rem;
    padding: .25rem;
}

.powermenu-box {
    font-size: 5rem;
    margin: .25rem;
}

.powermenu-event {
    background: rgba($backgroundAlt, 0.8);
    border-radius: 1rem;
}

.powermenu-event:hover {
    background: rgba($magenta, 0.4);
}

.logout-icon,
.reboot-icon,
.poweroff-icon {
    padding: .25rem 1.5rem;
}

.logout-icon {
    color: rgba($blue, 0.65);
}

.reboot-icon {
    color: rgba($magenta, 0.65);
}

.poweroff-icon {
    color: rgba($red, 0.65);
}
