.dashboard {
    border-radius: 1rem;
}

.session {
    background: $backgroundAlt;
    border-radius: 1rem;
    margin: 10px 10px 5px 10px;
}

.session-box,
.session-title,
.session-label {
    background: $backgroundAlt;
    padding-left: 15px;
}

.session-box {
    border-radius: 1rem;
}

.session-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.session-label {
    font-size: 1.15rem;
}

.user-info,
.os,
.hypr-version,
.zsh-version,
.packages,
.uptime,
.mem,
.cpu {
    background: $backgroundAlt;
    font-size: 2.5rem;
}

.user-info {
    color: rgba($blue, 0.8);
}

.os {
    color: rgba($magenta, 0.8);
}

.hypr-version {
    color: rgba($cyan, 0.8);
}

.zsh-version {
    color: rgba($green, 0.8);
}

.packages {
    color: rgba($yellow, 0.8);
}

.uptime {
    color: rgba($orange, 0.8);
}

.mem {
    color: rgba($cyan, 0.8);
}

.cpu {
    color: rgba($green, 0.8);
}

.theme-setter {
    background: $backgroundAlt;
    border-radius: 1rem;
    margin: 5px 10px 10px 10px;
}

.theme-label {
    background: $backgroundAlt;
    color: $gray;
    font-size: 1.3rem;
    padding: 0.4rem 0rem;
}

.selected-theme,
.selected-mode {
    color: rgba($orange, 0.8);
    font-weight: bold;
}
