.dashboard {
    border-radius: 1rem;
    background: transparent;
}

.session {
    background: $background;
    border-radius: 1rem;
    margin: .5rem;
    //box-shadow: 0 0 .2rem .2rem rgba($black, 0.75);
}

.session-box,
.session-title,
.session-label {
    background: $background;
    padding-left: 15px;
}

.session-box {
    border-radius: 1rem;
}

.session-icon {
    font-size: .75rem;
    padding: 0rem .75rem 0rem 0rem;
}

.session-title,
.session-label {
    font-size: 1.15rem;
}

.user-info,
.os,
.hypr-version,
.zsh-version,
.packages,
.uptime,
.mem,
.cpu {
    background: $background;
    font-size: 2rem;
}

.user-info {
    color: rgba($blue, 0.8);
}

.os {
    color: rgba($magenta, 0.8);
}

.hypr-version {
    color: rgba($cyan, 0.8);
}

.zsh-version {
    color: rgba($green, 0.8);
}

.packages {
    color: rgba($yellow, 0.8);
}

.uptime {
    color: rgba($orange, 0.8);
}

.mem {
    color: rgba($cyan, 0.8);
}

.cpu {
    color: rgba($green, 0.8);
}

// THEME SETTER
.theme-setter {
    background: $background;
    border-radius: 1rem;
    padding: 0rem .3rem;
    margin: .5rem;
    // box-shadow: 0 0 .2rem .2rem rgba($black, 0.75);
}

.theme-label {
    font-size: 1.25rem;
    color: $gray;
    background: $background;
    padding: .4rem;
}

.selected-mode,
.selected-tone {
    font-weight: bold;
    color: rgba($orange, 0.8);
}

// POWERMENU
.powermenu-box {
    font-size: 2.5rem;
    border-radius: 1rem;
    margin: .5rem;
    // box-shadow: 0 0 .2rem .2rem rgba($black, 0.75);
}

.powermenu-event {
    background: $background;
    border-radius: 1rem;
}

.powermenu-event:hover {
    background: rgba($background, 0.8);
}

.logout-icon,
.reboot-icon,
.poweroff-icon {
    padding: .25rem 0rem;
}

.logout-icon {
    color: rgba($blue, 0.65);
}

.reboot-icon {
    color: rgba($magenta, 0.65);
}

.poweroff-icon {
    color: rgba($red, 0.65);
}
