$background: #1E1E2E;
$background-alt: #302D41;
$background-alt2: #302D41;
$foreground: #D9E0EE;
$red: #F28FAD;
$yellow: #FAE3B0;
$orange: #F8BD96;
$green: #ABE9B3;
$blue: #96CDFB;
$blue2: #96CDFB;
$magenta: #D97E96;
$cyan: #B5E8E0;