$background: #24273a;
$background-alt: #363a4f;
$background-alt2: #363a4f;
$foreground: #cad3f5;
$red: #ed8796;
$yellow: #eed49f;
$orange: #f5a97f;
$green: #a6da95;
$blue: #8aadf4;
$blue2: #8aadf4;
$magenta: #c6a0f6;
$cyan: #8bd5ca;