.astro {
    border-radius: 1rem;
}

.phase,
.time-info-box {
    background: rgba($backgroundAlt, 0.8);
    border-radius: 1rem;
    padding: .75rem;
    margin: 0rem .5rem .5rem .5rem;
}

.phase {
    margin-top: .5rem;
}

.phase-text {
    font-size: 2rem;
}

.moon-icon {
    font-size: 2.5rem;
}

.time-info {
    margin: 0rem .75rem;
}

.time-info-arrow {
    font-size: 1.5rem;
    color: rgba($foreground, 0.6);
    margin: 0rem .5rem;
}

.time-info-text {
    font-size: 1.25rem;
}
